@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import "./Quiz.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Verdana, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: 1440px;
  background-position: center;
}
.author {
  position: relative;
  bottom: 0;
  color: #ffffff;
  font-size: 14px;
  a{
    color: #ffffff;
    margin-right: 2px
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 464px;
  min-height: 95vh;
  //loader
  .loader,
  .loader:before,
  .loader:after {
    background: #d2d2d2;
    animation: load 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader {
    color: #d2d2d2;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: "";
  }
  .loader:before {
    left: -1.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 1.5em;
  }
  @keyframes load {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
}
h1 {
  position: relative;
  font-size: 30px;
  color: #eeeeee;
}

@media screen and (max-width: 485px) {
  h1 {
    font-size: 22px;
  }
  .container {
    width: 90%;
  }
}
