@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import "./styles/Quiz.scss";
@import "./styles/loader.scss";
@import "./styles/error.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Verdana, sans-serif;
}
body,
#root,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #5256a1;
  width: 100%;
}
main {
  flex-direction: column;
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: 1440px;
  background-position: center;
  @include Quiz;
}
@include Error;
@include Loader;
.myGithub {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.author {
  position: relative;
  bottom: 0;
  color: #ffffff;
  font-size: 14px;
  a {
    color: #ffffff;
    margin: 10px 2px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 464px;
  min-height: 95vh;
}
h1 {
  position: relative;
  font-size: 30px;
  color: #eeeeee;
  animation: listAnim 0.5s linear;
  animation-fill-mode: both;
}

@media screen and (max-width: 485px) {
  h1 {
    font-size: 22px;
  }
  .container {
    width: 90%;
  }
  .author {
    font-size: 12px;
  }
}

@keyframes listAnim {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ImgAnim {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}