section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 530px;
  background-color: #eeeeee;
  border-radius: 24px;
  .loader {
    justify-self: center;
  }
  .quizContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
    width: 100%;
  }
  img.undraw_adventure {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    transform: translateY(-67%);
  }
  img.undraw_winners {
    position: relative;
    top: 49px;
  }
  h2 {
    position: relative;
    font-size: 22px;
    color: #2f527b;
    margin-bottom: 30px;
    img {
      position: absolute;
      width: 70px;
      left: 0;
      transform: translateY(-100%);
    }
  }
  h2.resultText {
    position: relative;
    font-size: 40px;
    color: #2f527b;
    top: 100px;
    margin-bottom: 30px;
  }
  p.answer {
    display: flex;
    align-items: center;
    padding: 0 25px 0 65px;
    position: relative;
    width: 400px;
    height: 50px;
    border: 2px solid #6066d0cc;
    border-radius: 12px;
    color: #6066d0cc;
    margin-bottom: 28px;
    font-size: 16px;
    transition: all 0.1s;
    cursor: pointer;
    &:hover {
      background-color: #f9a826;
      color: #ffffff;
      border: 2px solid #f9a826;
    }
    &::before {
      font-size: 22px;
      position: absolute;
      left: 20px;
    }
  }
  p.A::before {
    content: "A";
  }
  p.B::before {
    content: "B";
  }
  p.C::before {
    content: "C";
  }
  p.D::before {
    content: "D";
  }
  p.correctAnswer {
    position: relative;
    border: 2px solid #60bf88;
    color: #ffffff;
    background-color: #60bf88;
    &::after {
      position: absolute;
      content: "✔";
      color: #f2f2f2;
      right: 10px;
    }
    &:hover {
      background-color: #60bf88;
      border: 2px solid #60bf88;
    }
  }
  p.incorrectAnswer {
    position: relative;
    background-color: #ea8282;
    border: 2px solid #ea8282;
    color: #ffffff;
    &::after {
      position: absolute;
      content: "✗";
      color: #f2f2f2;
      right: 10px;
    }
    &:hover {
      background-color: #ea8282;
      border: 2px solid #ea8282;
    }
  }
  p.result {
    position: relative;
    color: #6066d0cc;
    font-size: 16px;
    top: 80px;
    b {
      font-size: 40px;
      color: #6fcf97;
      margin: 0 5px;
    }
  }
  button.next {
    position: absolute;
    right: 32px;
    bottom: 0;
    transform: translateY(40px);
    width: 110px;
    height: 50px;
    border: 0;
    border-radius: 12px;
    outline: none;
    background-color: #f9a826;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: #d38f23;
    }
  }
  button.disabled {
    background-color: #cccccc;
    opacity: 0.8;
    cursor: no-drop;
    &:hover {
      background-color: #cccccc;
    }
  }
  button.tryAgain {
    position: relative;
    top: 135px;
    width: 209px;
    height: 62px;
    border: 2px solid #2f527b;
    border-radius: 12px;
    outline: none;
    color: #2f527b;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      background-color: #2f527b;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 485px) {
  section {
    height: 450px;
    .quizContainer {
      top: 80px;
    }
    img.undraw_adventure {
      width: 120px;
      margin-left: 5px;
      transform: translateY(-67%);
    }
    h2 {
      font-size: 15px;
      margin: 15px 10px;
      img {
        width: 50px;
      }
    }
    p.answer {
      width: 95%;
      height: 45px;
      margin-bottom: 15px;
      padding-left: 50px;
      font-size: 12px;
      &::before {
        font-size: 18px;
        position: absolute;
        left: 20px;
      }
    }
    button.next {
      height: 45px;
      font-size: 14px;
    }
    img.undraw_winners {
      top: 20px;
    }
    h2.resultText {
      color: #2f527b;
      top: 50px;
    }
    p.result {
      font-size: 16px;
      top: 20px;
      b {
        font-size: 40px;
        margin: 0 5px;
      }
    }
    button.tryAgain {
      top: 60px;
      width: 180px;
      height: 58px;
      font-size: 16px;
    }
  }
}
